
.gradient-homepage-bg{
    position: absolute;
    width: 1366px;
    height: 2908px;

    background: linear-gradient(180deg, rgba(164, 184, 196, 0.5) 0%, rgba(208, 178, 193, 0.5) 20%, rgba(251, 172, 190, 0.5) 100%);

}