@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ABOUT-BACKGROUND */

.gradient-index-bg {
  position: absolute;
  width: 1366px;
  height: 2349px;

  background: linear-gradient(
    180deg,
    rgba(164, 184, 196, 0.5) 0%,
    rgba(208, 178, 193, 0.5) 20%,
    rgba(251, 172, 190, 0.5) 100%
  );
}

#resume-body {
  display: flex;
  flex-direction: column;
  min-height: 5500px;
  background: linear-gradient(
    180deg,
    rgba(164, 184, 196, 0.5) 0%,
    rgba(208, 178, 193, 0.5) 20%,
    rgba(251, 172, 190, 0.5) 100%
  );
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  border: border-box;
}

html {
  margin: 0;
  padding: 0;
  min-height: 100vh; /* Ensure the body covers full height */
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;

  font-family: "PT Serif", system-ui;
  font-weight: 400;
  font-style: normal;
}

header {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;

  order: 1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* margin: auto; */

  position: relative;
  top: 30px;
  width: 100%;
}

.navbar ul {
  list-style-type: none;
  gap: 59px;
  display: flex;
  padding: 11px 46px;
  text-align: center;

  background: rgba(217, 217, 217, 0.25);
  border-radius: 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar a {
  text-decoration: none;
  font-size: 21px;
  color: #50514f;
}

.navbar a:hover {
  text-decoration: underline;
}

#big1 {
  /* Type@80 */

  position: absolute;
  width: 565px;
  height: 120px;
  left: 403px;
  top: 205px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 150%;
  /* identical to box height, or 120px */

  color: #000000;
}

#big2 {
  /* Type@80 */

  position: absolute;
  width: 452px;
  height: 120px;
  left: 458px;
  top: 297px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 150%;
  color: #000000;
}

#small {
  position: absolute;
  width: 615px;
  height: 82px;
  left: 376px;
  top: 449px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 150%;
  text-align: center;

  color: #000000;
}

#blob-left {
  background-image: url("background-images/blob-left.png");
  background-size: contain;

  position: absolute;

  left: -240px;
  top: 0px;
  width: 600px;
  height: 481px;
}

#blob-right {
  background-image: url("background-images/blob-right.png");
  background-size: contain;

  position: absolute;

  right: -174px;
  top: 373px;

  width: 481.23px;
  height: 536.45px;
}

/* .line{
    position: absolute;
    width: 1366px;
    height: 0px;
    left: 0px;
    top: 768px;

    border: 1px solid #F6FEAA;
} */
.projects {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  padding: 0px;
  gap: 90px;
}

.rows0 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 67px;

  position: absolute;
  width: 1302px;
  left: 30px;
  top: 834px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 150%;
}

.small-black {
  width: 494px;
  height: 530px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.small-project-title {
  /* project title */

  position: absolute;
  width: 328.34px;
  height: 61.09px;
  left: 41px;
  top: 50px;
  color: #ffffff;
}

.small-black-rectangle-outer0 {
  position: absolute;
  width: 494px;
  height: 530px;
  left: 0px;
  top: 0px;

  background: #000000;
  border-radius: 45px;

  /* or 70px */
}

.small-black-rectangle-inner0 {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;

  position: absolute;
  width: 340.01px;
  height: 366.53px;
  left: 153.99px;
  top: 163.47px;

  background-image: url("index-images/tarot_backdrop.jpg");
  background-size: cover;
  border-radius: 20px;
}

.large-yellow {
  width: 741px;
  height: 530px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.large-yellow-rectangle-outer0 {
  position: absolute;
  width: 741px;
  height: 530px;
  left: 561px;
  top: 0px;

  background: #f6feaa;
  border-radius: 45px;
}

.large-project-title0 {
  position: absolute;
  width: 432.51px;
  height: 61.09px;
  left: 41px;
  top: 50.09px;

  color: #000000;
}

.large-yellow-rectangle-inner0 {
  position: absolute;
  width: 510.02px;
  height: 366.53px;
  left: 791.98px;
  top: 163.47px;

  background-image: url("index-images/expense-tracker.png");
  background-size: cover;
  border-radius: 20px;
}

.rows1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 71px;

  position: absolute;
  width: 1306px;
  height: 530px;
  left: 30px;
  top: 1443px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 150%;
}

.small-black-rectangle-outer1 {
  position: absolute;
  width: 494px;
  height: 530px;
  left: 812px;
  top: 0px;

  background: #000000;
  border-radius: 45px;
}

.small-black-rectangle-inner1 {
  position: absolute;
  width: 340.01px;
  height: 366.53px;
  left: 965.99px;
  top: 164.47px;

  background-image: url("index-images/graph-plotter-3.PNG");
  background-size: cover;
  border-radius: 20px;
}

.large-yellow {
  width: 741px;
  height: 530px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.large-yellow-rectangle-outer1 {
  position: absolute;
  width: 741px;
  height: 530px;
  left: 0px;
  top: 0px;

  background: #f6feaa;
  border-radius: 45px;
}

.large-project-title1 {
  position: absolute;
  width: 432.51px;
  height: 61.09px;
  left: 41px;
  top: 50.09px;

  color: #000000;
}

.large-yellow-rectangle-inner1 {
  position: absolute;
  width: 510.02px;
  height: 366.53px;
  left: 230.98px;
  top: 163.47px;

  background: #ffffff;
  border-radius: 20px;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 164.5px;
  left: 2px;
  bottom: 10px;

  /* margin-top: auto; */

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 150%;
  color: #000000;

  order: 2;
}

#footer-line {
  /* footer line */

  position: absolute;
  height: 0px;
  left: 2px;
  right: 0px;
  bottom: 150px;

  border: 1px solid #bfabab;
}

#credits {
  position: absolute;
  height: 82px;
  left: 94px;
  right: 9px;
  bottom: 0px;
}

#rights {
  /* right-reserved */

  position: absolute;
  height: 41px;
  right: 81px;
  bottom: 0px;

  color: #000000;
}

.external-links {
  /* external-links */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 41px;

  position: absolute;
  height: 42px;
  left: 1158px;
  right: 85px;
  bottom: 32px;

  pointer-events: auto;
}

.external-links a {
  color: #000000;
  z-index: 2;

  transform: scale(1.3);
  display: inline-block; /* This ensures the scaling works correctly */
}

#linkedin-icon {
  /* linkedin-icon */

  width: 42px;
  height: 42px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#linkedin-icon:hover {
  color: #251351;
}

#github-icon {
  width: 42px;
  height: 42px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#github-icon:hover {
  color: #251351;
}

/* END FOOTER */

/* ABOUT.HTML STARTS HERE! */

.gradient-about-bg {
  position: absolute;
  width: 1366px;
  height: 1096px;

  background: linear-gradient(
    180deg,
    rgba(164, 184, 196, 0.5) 0%,
    rgba(208, 178, 193, 0.5) 20%,
    rgba(251, 172, 190, 0.5) 100%
  );
}

#greetings {
  background-image: url("background-images/greetings.png");
  background-size: contain;
  position: absolute;
  left: 541px;
  top: 112px;
  height: 140px;
  width: 292px;
}

.about-section {
  padding: 0px;
  gap: 165px;

  background: url("graphics/overlay2.jpg");
  background-size: cover;

  position: relative;
  width: 1220px;
  height: 426px;
  left: 73px;
  top: 321px;

  z-index: 1;

  border-radius: 30px;
}

#text-description {
  position: absolute;
  width: 413px;
  height: 299px;
  left: 733px;
  top: calc(50% - 299px / 2 + 0.5px);

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  line-height: 150%;
  /* or 40px */
  text-align: justify;

  color: #050609;
  /* 
  border: 1px solid rgba(0, 0, 0, 0.2); */
}

#grey-fill {
  position: relative;
  width: 1211px;
  height: 425px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
}

#picture-frame-1 {
  position: absolute;
  width: 300px;
  height: 363px;
  left: 354px;
  top: 31px;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 2;

  background: url("about-images/prashansa-un-house.jpg");
  background-size: cover;
  border-radius: 30px;
}

#picture-frame-2 {
  position: absolute;
  width: 300px;
  height: 363px;
  left: 25px;
  top: 31px;

  z-index: 2;

  background: url("about-images/prashansa-infront-ictc.jpg");
  background-size: cover;
  border-radius: 30px;
}

/* RESUME PAGE STARTS */
#vessel {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 119px;

  position: absolute;
  width: 1238px;
  height: 5096.54px;
  left: 64px;
  top: 128px;

  order: 1;
}

#skills {
  width: 1238px;
  height: 188px;
}

#skill-title {
  position: absolute;
  width: 146px;
  height: 92px;
  left: 547px;
  top: 0px;

  font-size: 61px;
  line-height: 150%;
}

#skill-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 18px;

  position: absolute;
  width: 1238px;

  left: 0px;
  top: 118px;
}

.skill-element {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 17px 35px;
  gap: 8px;

  width: 139px;
  /* height: 70px; */

  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;

  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 32px */

  color: #000000;
}

/* Machine Learning */
#skill4 {
  font-size: 16px;
  flex: none;
  order: 7;
  flex-grow: 0;
  width: 139px;
  padding: 17px 5px;
  height: 32px;
}

/* Git & GitHub */
#skill8 {
  flex: none;
  order: 7;
  flex-grow: 0;
  width: 139px;
  padding: 17px 5px;
}

/* EXPERIENCES */

#my-experiences {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;

  width: 1238px;
  height: 997.29px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#experience-title {
  width: 424px;
  height: 92px;

  font-size: 61px;
  line-height: 150%;
  /* identical to box height, or 92px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.row {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 109px;

  width: 1238px;
  height: 392.65px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

#row0 {
  /* Inside auto layout */
  order: 1;
}

#row1 {
  /* Inside auto layout */
  order: 2;
}

#row2 {
  /* Inside auto layout */
  order: 3;
}

.experience {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;
  isolation: isolate;

  width: 340px;
  height: 392.65px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

#experience00,
#experience10 {
  order: 0;
}

#experience01,
#experience11 {
  order: 1;
}

#experience02,
#extra-experience {
  order: 2;
}

#extra-experience {
  justify-content: center;

  width: 340px;
  height: 392.65px;
}

.layout {
  /* layout */

  position: relative;
  width: 340px;
  height: 392.65px;
  left: 0px;
  top: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.big-rectangle {
  position: relative;
  width: 340px;
  height: 392.65px;
  left: 0px;
  top: 0px;

  background: rgba(255, 255, 255, 0.47);
  border-radius: 35px;
}

/* EXPEREINCES-PICTURE */

.picture-frame {
  position: relative;
  width: 340px;
  height: 249px;
  left: 0px;
  top: 0px;

  background-size: cover;
  border-radius: 35px;
}

#hult-prize-logo {
  background: url("resume-images/hult-prize-logo2.jpg");
  background-size: cover;
  /* height: 60%; */
}

#wie-image {
  background: url("resume-images/wie-image.jpg");
  background-size: cover;
}

#the-zerone {
  background: url("resume-images/the-zerone.png");
  background-size: cover;
}

#locus-2024-logo {
  background: url("resume-images/locus-2024-logo.jpg");
  background-size: cover;
}

#sound-youth-club {
  background: url("resume-images/sound-youth-club.jpg");
  background-size: cover;
}

/* EXPEREINCES-TEXT */
.text {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 315.32px;
  height: 115.66px;
  margin: 12.34px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.role {
  /* role */

  width: 315.32px;
  height: 24.85px;

  font-size: 21px;
  line-height: 100%;
  /* or 32px */

  color: #000000;

  -webkit-text-stroke: 0.5px black;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.organization {
  /* organization */

  width: 285.01px;
  height: 45.69px;

  font-size: 16px;
  font-style: italic;
  line-height: 150%;
  /* or 24px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.description {
  /* description */

  width: 315.32px;
  height: 36.11px;

  font-size: 16px;
  line-height: 150%;
  /* or 18px */

  color: #50514f;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.extra-frame {
  /* extra-frame */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  isolation: isolate;

  width: 340px;
  height: 392.65px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

  background: rgba(255, 255, 255, 0.47);
  border-radius: 35px;
}

.extra-text {
  /* more-to-come */

  width: 251px;
  height: 54px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;

  color: #50514f;
}

/* PARTICIPATION-SECTION */
#participations {
  /* Participations */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 60px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  width: 1236.78px;
  /* height: 1569.65px; */

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#participations-title {
  /* Type@80 */

  width: 381px;
  height: 92px;
  left: 426.95px;
  top: 1423.29px;

  font-size: 61px;
  line-height: 150%;
  /* identical to box height, or 92px */

  color: #000000;
}

.participation {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;
  isolation: isolate;

  width: 340px;
  height: 392.65px;

  /* Inside auto layout */
  flex: none;
  flex-grow: 0;
}

.part-organization {
  /* organization */
  /* 
  position: absolute; */
  width: 277.47px;
  height: 26px;
  left: 19.8px;
  top: 1859.05px;

  font-size: 16px;
  line-height: 150%;
  font-style: italic;
  color: #000000;
}

.part-description {
  /* work-description */

  position: static;
  width: 307px;
  height: 58px;
  left: 19px;
  top: 1882px;

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 18px */

  color: #50514f;
}

#ui-ux-role {
  height: 52.85px;
  line-height: 125%;
}

#seeds-group {
  background-image: url("resume-images/seeds-group.jpg");
  background-size: cover;
}

#blockchain-workshop {
  background-image: url("resume-images/blockchain-workshop.jpg");
  background-size: cover;
}

#ui-ux-workshop {
  background-image: url("resume-images/ui-ux-workshop.jpg");
  background-size: cover;
}

#software-fellowship-certificate {
  background-image: url("resume-images/software-fellowship-certificate.jpg");
  background-size: cover;
}

#robocamp-certificate {
  background-image: url("resume-images/robocamp-certificate.jpg");
  background-size: cover;
}

#latex-workshop {
  background-image: url("resume-images/latex-workshop.jpg");
  background-size: cover;
}

#nasa-space-apps {
  background-image: url("resume-images/nasa-space-apps.jpg");
  background-size: cover;
}
#blob-left {
  background-image: url("background-images/blob-left.png");
  background-size: contain;

  position: absolute;

  left: -240px;
  top: 0px;
  width: 600px;
  height: 481px;
}

#education-blob-left {
  background-image: url("background-images/education-blob-left.png");

  position: absolute;
  width: 900.53px;
  height: 1059.91px;
  left: -653px;
  top: 2954px;
}

#education-blob-right {
  background-image: url("background-images/education-blob-right.png");
  /* education-blob-right */

  position: absolute;
  width: 827.12px;
  height: 933px;

  right: -500px;
  top: 2954px;
}

#education {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 27px;
  isolation: isolate;

  width: 483.27px;
  height: 587.75px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#education-title {
  /* title */

  position: relative;
  width: 275px;
  height: 92px;
  /* top: 3111.94px; */

  font-size: 61px;
  line-height: 150%;
}

#education-list {
  /* education-list */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 71px;

  position: relative;
  width: 483.27px;
  height: 468.75px;
}

.education-degree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;

  width: 483.27px;
  height: 108.92px;

  background: #fefbf3;
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.education-text {
  /* education-text */

  width: 428.37px;
  height: 76.06px;
  left: 19px;
  top: 17px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.degree {
  /* degree */

  position: relative;
  width: 428px;
  height: 34px;
  left: 19px;
  top: 17px;

  font-size: 21px;
  line-height: 150%;
  /* or 32px */
}

.alma-mater {
  /* alma-mater */

  position: relative;
  width: 408px;
  height: 20px;
  left: 19px;
  top: 14px;

  font-family: "PT Serif";
  font-style: italic;
  font-weight: 500;
  font-size: 14.4px;
  line-height: 150%;
  /* or 18px */

  color: #000000;
}

.percentage {
  /* percentage */
  position: relative;
  width: 300px;
  height: 18px;
  left: 19px;
  top: 16px;

  display: inline-block;

  font-family: "PT Serif";
  font-weight: 400;
  font-size: 14.4px;
  line-height: 150%;
}

mark.colored-percent {
  color: #7c0606;
  background: none;
}

#education-connector {
  /* connector */

  position: absolute;
  width: 0px;
  height: 301.43px;
  left: 616.73px;
  top: 3198.06px;

  border: 3px solid #a4b8c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#education-vector {
  background-image: url("background-images/education-vector.png");

  position: absolute;
  width: 203.34px;
  height: 422.42px;
  left: 657.88px;
  top: 3161.76px;
  z-index: 2;
}

#awards {
  /* awards-and-recognition */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 37px;

  width: 710.35px;

  flex: none;
  order: 5;
  flex-grow: 0;
}

#awards-title {
  width: 634px;
  height: 92px;
  left: 38.17px;
  top: 0px;

  font-size: 61px;
  line-height: 150%;
  /* identical to box height, or 92px */
}

#awards-list {
  /* awards-list */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 710.35px;
  height: 1149px;

  /* Inside auto layout */
  flex: none;
  flex-direction: row;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#timeline {
  /* timeline */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 63px;

  width: 141.5px;
  height: 1149px;

  /* date */

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 32px */

  color: #50514f;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.one-award {
  /* timeline-2024 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 26px 44px; */
  gap: 8px;

  width: 141.5px;
  height: 90px;

  background: rgba(253, 251, 245, 0.75);
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.two-award {
  /* timeline-2023 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 101px 44px; */
  gap: 8px;

  width: 141.5px;
  height: 243px;

  background: rgba(253, 251, 245, 0.75);
  border-radius: 15px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#year24 {
  order: 1;
}

#year23 {
  order: 2;
}

#year22 {
  order: 3;
}

#year20 {
  order: 4;
}

#year19 {
  order: 5;
}

#year16 {
  order: 6;
}

#awards-description-list {
  /* awards-description-list */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 63px;
  top: 0px;

  width: 481px;
  /* height: 1148px; */
}

.award-li {
  /* hult-prize */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;

  width: 481px;
  height: 90px;

  background: #fefbf3;
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.award-text {
  /* award-text */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.award-name {
  /* award-name */

  position: relative;
  /* width: 433px; */
  height: 32px;
  align-items: center;
  /* left: calc(50% - 433px / 2);
  top: 17px; */

  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 150%;
  /* identical to box height, or 32px */

  color: #000000;
}
.associated-institute {
  /* associated-institute */
  /* 
  width: 215px; */
  height: 18px;

  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  /* identical to box height, or 18px */

  color: #000000;
}

#award-bg-vector1 {
  background: url("background-images/award-vector.png");
  background-size: cover;
  /* Vector */

  position: absolute;
  width: 186px;
  height: 362px;
  left: 779px;
  top: 3862px;
}
#award-bg-vector2 {
  background: url("background-images/award-vector.png");
  background-size: cover;
  /* Vector */

  position: absolute;
  width: 186px;
  height: 362px;
  left: 779px;
  top: 4321px;
}

#award-bg-vector3 {
  background: url("background-images/award-vector.png");
  background-size: cover;
  /* Vector */

  position: absolute;
  width: 186px;
  height: 242px;
  left: 781px;
  top: 4788px;
}

#awards-connector {
  /* awards-connector */

  position: absolute;
  width: 1075.02px;
  height: 0px;
  left: 182px;
  top: 4391.07px;

  z-index: -1;

  border: 2.5px solid #a4b8c4;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  transform: rotate(90deg);
}

#resume-footer {
  position: absolute;
  top: 5280.5px;
}

/* CONTACT ME PAGE */

.gradient-contact-bg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  width: 1366px;
  height: 888px;

  background: linear-gradient(
    180deg,
    rgba(164, 184, 196, 0.5) 0%,
    rgba(208, 178, 193, 0.5) 20%,
    rgba(251, 172, 190, 0.5) 100%
  );
}

#reach-out-title {
  /* reach-out-title */

  position: absolute;
  width: 354px;
  height: 71px;
  left: 514px;
  top: 144px;

  font-size: 47px;
  line-height: 150%;
  /* identical to box height, or 70px */

  color: #30292f;

  mix-blend-mode: hard-light;
}

#reach-out-section {
  /* reach-out */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 36px;

  position: absolute;
  width: 537px;
  left: 414px;
  top: 256px;
}

.contact {
  /* email */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 29px;

  width: 537px;
  height: 96px;

  background: rgba(255, 255, 255, 0.47);
  border-radius: 50px;

  color: #29274c;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#linkedin-contact:hover,
#github-contact:hover {
  background: rgba(93, 81, 121, 0.47);
  color: #ffffff;
}

.icon {
  /* email-icon */

  width: 42.2px;
  height: 60px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#email-icon {
  background-image: url("contact-images/email-icon.png");
  background-size: cover;
}

#linkedin-contact-icon {
  background-image: url("contact-images/linkedin-icon.png");
  background-size: cover;
  width: 62.48px;
  height: 60px;
  position: absolute;
  left: 24px;
}

#github-contact-icon {
  background-image: url("contact-images/github-icon.png");
  background-size: contain;
  width: 45px;
  height: 60px;
  position: absolute;
  left: 24px;
}

.username {
  /* prashansashrestha1@gmail.com */
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  width: 393px;
  height: 41px;
  z-index: 2;
  font-size: 27px;
  line-height: 150%;
  /* identical to box height, or 40px */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#linkedin-username,
#github-username {
  position: absolute;
  left: 171.5px;
}

#contact-footer {
  position: absolute;
  top: 675px;
}
